
/* open-sans-regular - latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-600 - latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-600.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans/open-sans-v13-latin-ext_cyrillic_latin_cyrillic-ext_greek-ext_vietnamese_greek-600.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* domine-700 - latin-ext_latin */
@font-face {
  font-family: 'Domine';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/domine/domine-v4-latin-ext_latin-700.eot'); /* IE9 Compat Modes */
  src: local('Domine Bold'), local('Domine-Bold'),
       url('../fonts/domine/domine-v4-latin-ext_latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/domine/domine-v4-latin-ext_latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/domine/domine-v4-latin-ext_latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/domine/domine-v4-latin-ext_latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/domine/domine-v4-latin-ext_latin-700.svg#Domine') format('svg'); /* Legacy iOS */
}

body, html{
	height:100%;
	background:#fcfcfc;
	font:400 16px "Open Sans", serif;
	letter-spacing: .3px;
	color:#3b3b3b;
	padding:0;
	margin:0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	direction: ltr;
}

a{
	font-weight:600;
	color:#5d9cec;
	text-decoration:none;
	border-bottom:3px solid transparent;
	@include transition_two(border 0.2s, color 0.2s ease-out);
	&:hover{
		color:#296298;
	}
}

h1 a:hover, p a:hover{
	border-bottom:3px solid #e1ebf9;
}

h1, h2, h3, h4{
	margin:30px 0;
	font:700 34px 'Domine', Serif;
	line-height:56px;
	color:#36404a;
	i{
		margin-right:15px;
	}
}

h2{
	margin:30px 0 20px;
	font:700 26px 'Domine', Serif;
}

h3{
	margin:20px 0 10px;
	font:600 22px 'Open Sans', Serif;
}

h4{
	margin:20px 0 10px;
	font:600 20px 'Open Sans', Serif;
}

p{
	margin:30px 0;
	line-height:1.9;
	color:#4e4d4d;
	word-wrap: break-word;
}

strong, em{
	font-weight:600;
}

img{
	margin:30px 0;
	max-width:100%;
	@include border-radius(4px, 4px);

	&.center{
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

hr{
	width:70%;
	height:3px;
	margin:30px auto;
	border:0;
	background:#d8d6de;
}

code{
	padding:4px 8px;
	//margin:0 2px;
	background:#f6f6f6;
	//border:1px solid #e2e9ef;
	@include border-radius(3px, 3px);
	font-style: normal;
	font-family: 'Consolas', 'Liberation Mono', Menlo, 'Courier New', Courier, monospace;
	font-size: .85em;
	color: #ce5050;
}

blockquote, q, cite{
	margin:30px 0 30px 4%;
	border-left:3px solid #c6d5e1;
	padding:5px 4%;
	font:italic 700 18px 'Domine', Serif;
	line-height:38px;
	p{
		margin:0;
		padding:0;
	}
}

input:not([type=submit]):not([type=file]){
	padding:8px 15px;
	background:#fff;
	border:2px solid #808080;
	font:600 15px 'Open Sans', Serif;
	@include border-radius(4px, 4px);
	outline:0;
	@include transition(all 0.2s ease-out);
}
input:not([type=submit]):not([type=file]):active, input:not([type=submit]):not([type=file]):focus{
	border:2px solid #2d75a2;
}

::-moz-selection {
    color: #5876a3;
    background: #faffbd;
    text-shadow: none;
}

::selection {
    color: #5876a3;
    background: #faffbd;
    text-shadow: none;
}

.title a{
	position:fixed;
	top:9px;
	left:13px;
	z-index:200;
	display:block;
	padding:6px 9px 4px;
	background:#888888;
	color:#fff;
	@include transition(background 0.6s ease-out);
	border-radius: 3px;
	&:hover{
		background:#5d4e60;
	}
	span{
		display:inline-block;
		margin-left:15px;
		@media screen and (max-width: 1140px) {
			display:none;
		}
		@media screen and (max-width: 595px) {
			display:inline-block;
		}
	}
	i{
		font-size: 1.533333em;
	}
	&:hover span{
		display:inline-block;
		width:auto;
	}
	@media screen and (max-width: 906px) {
		position:absolute;
		left:5%;
		top:30px;
		position:absolute;
		margin-top:30px;
		display:inline-block;
	}
}

.wrapper{
	width:90%;
	max-width:760px;
	margin:0 auto;
}

.left{
	float:left;
}

.right{
	float:right;
}

footer{

	padding:25px 0;
	text-align:center;
	font:400 13px 'Open Sans', Serif;
	line-height:24px;
	color:#a6a6a6;

	span{
		display:block;
	}

	a{
		color:#5498dc;
	}

	.smallnav{
		display:none;
		@media screen and (max-width: 906px) {
			display:block;
		}
		.list-inline{display:block; padding-left:10px;}
		.list-inline li{display:inline-block;}
		.list-inline li:after{content:'|'; margin:0 7px;}
		.list-inline li:last-child:after {content: '';}
	}

}

.notification {
	margin-top:50px;
	background:#1c78be;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	padding:20px 25px;
}

.notification .ntitle {
	color:#c4e2f8;
	font:700 18px 'Open Sans',Serif;
	padding-right:20px;
	border-right:2px solid #3285c4;
}

.notification .message {
	color:#fff;
	font:700 18px 'Open Sans',Serif;
	padding-left:20px;
}

.notification a {
	position:relative;
	margin-top:-3px;
	display:inline-block;
	float:right;
	color:#fff;
	background:#0b4673;
	-webkit-border-radius:90px;
	-moz-border-radius:90px;
	border-radius:90px;
	padding:4px 10px 3px;
}

.notification a i {
	margin-top:3px;
}

.posts article header h2 a {
	color:#D5D5D5;
}

.posts article header h2 a:hover {
	color:#B3B3B3;
}

.cover header h2 a {
	color:#e4e4e4;
	opacity:.6;
}

.cover header h2 a:hover {
	opacity:1;
}

.backtotop {
	display: none;
	position: fixed;
	bottom: 10px;
	left: 10px;
	background: #ededed;
	color: #989494;
	height: 30px;
	width: 38px;
	padding-top: 10px;
	text-align: center;
	@include border-radius(4px, 4px);
}