
.index{

	display:none;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:100;
	padding:20px 0 20px;
	margin:0;
	color:#ececf1;
	background-color:#424242;
	/*background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(39, 39, 39, 0.9)), color-stop(100%, rgba(56, 56, 56, 0.9)));
	background-image: -webkit-linear-gradient(rgba(39, 39, 39, 0.9), rgba(56, 56, 56, 0.9));
	background-image: -moz-linear-gradient(rgba(39, 39, 39, 0.9), rgba(56, 56, 56, 0.9));
	background-image: -o-linear-gradient(rgba(39, 39, 39, 0.9), rgba(56, 56, 56, 0.9));
	background-image: linear-gradient(rgba(39, 39, 39, 0.9), rgba(56, 56, 56, 0.9));*/

	h1, h2{
		margin:0;
		padding:0;
		font:700 18px 'Open Sans', Serif;
		color:#fff;
	}

	h2{
		font:600 18px 'Open Sans', Serif;
		font-weight:400;
	}

	.show{
		display:block;
	}

	@media screen and (max-width: 790px) {
		h1{
			display:none;
		}
	}

	@media screen and (max-width: 675px) {
		display:none !important;
	}


}

@font-face {
  font-family: 'strum';
  src: url('../font/strum.eot?66541979');
  src: url('../font/strum.eot?66541979#iefix') format('embedded-opentype'),
       url('../font/strum.woff?66541979') format('woff'),
       url('../font/strum.ttf?66541979') format('truetype'),
       url('../font/strum.svg?66541979#strum') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'strum';
    src: url('../font/strum.svg?66541979#strum') format('svg');
  }
}
*/

 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "strum";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.i-nd:before { content: '\e800'; } /* '' */
.i-nc:before { content: '\e801'; } /* '' */
.i-cc:before { content: '\e802'; } /* '' */
.i-by:before { content: '\e803'; } /* '' */

/*License*/
.license a {
	color: #000;
	&:hover {
		color: #f05050;
	}
}