html {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
@font-face {
  font-family: "Flaticon";
  src: url("flaticon.eot");
  src: url("flaticon.eot#iefix") format("embedded-opentype"),
  url("flaticon.woff") format("woff"),
  url("flaticon.ttf") format("truetype"),
  url("flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 27px;
font-style: normal;
}.flaticon-blogging1:before {
  content: "\e000";
}
.flaticon-github18:before {
  content: "\e001";
}
.flaticon-last8:before {
  content: "\e002";
}
.flaticon-twitter33:before {
  content: "\e003";
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: optimizelegibilty;
  -moz-font-smoothing: optimizelegibilty;
  -o-font-smoothing: optimizelegibilty;
  font-smoothing: optimizelegibilty; }

.col-1 {
  width: 54px; }

.col-2 {
  width: 140px; }

.col-3 {
  width: 226px; }

.col-4 {
  width: 312px; }

.col-5 {
  width: 398px; }

.col-6 {
  width: 484px; }

.col-7 {
  width: 570px; }

.col-8 {
  width: 656px; }

.col-9 {
  width: 742px; }

.col-10 {
  width: 828px; }

.col-11 {
  width: 914px; }

.col-12 {
  width: 1000px; }

[class*="col-"] {
  display: inline;
  float: left; }
  [class*="col-"].right {
    float: right;
    right: 0; }
  [class*="col-"].left {
    float: left;
    left: 0; }

.row {
  width: 1000px;
  height: 100%;
  position: relative;
  margin: 0 auto; }
  .row [class*="col-"]:first-child {
    margin-left: 0; }
  .row [class*="col-"]:last-child {
    margin-right: 0; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  background: #fcfcfc;
  border: 10px solid #bda488;
  overflow: hidden; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #bda488; }

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  clear: both;
  visibility: hidden; }

.v-center, #hero .col-12 {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%) ;
  -moz-transform: translateY(-50%) ;
  -o-transform: translateY(-50%) ;
  transform: translateY(-50%) ; }

.h-center {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%) ;
  -moz-transform: translateX(-50%) ;
  -o-transform: translateX(-50%) ;
  transform: translateX(-50%) ; }

::selection {
  background: #bda488;
  color: #efedef; }

#hero {
  width: 100%;
  height: 100%; }
  #hero .col-12 {
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    animation: fadeIn 5s;
    -webkit-transform: translateZ(0%);
    -moz-transform: translateZ(0%);
    -o-transform: translateZ(0%);
    transform: translateZ(0%); }
  #hero .name {
    text-align: center;
    font: 36px 'Merienda One', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 700;
    color: #bda488; }
  #hero .role {
    text-align: center;
    font: 18px 'Merienda One', serif;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    color: #bda488; }

.socials {
  position: absolute;
  width: 100%;
  bottom: 30px;
  list-style: none;
  text-align: center; }
  .socials li {
    display: inline-block;
    padding: 0 8px;
    font: 20px 'Merienda One', serif;
    letter-spacing: 1px;
    color: #bda488;
    text-align: center; }
    .socials li:first-of-type {
      margin-left: 0; }
    .socials li:last-of-type {
      margin-right: 0; }
.tooltip {
  display: inline;
  position: relative;
  z-index: 999;
}

/* Gap filler */
.tooltip::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 100%;
  left: 50%;
  pointer-events: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.tooltip:hover::after {
  pointer-events: auto;
}

/* Tooltip */
.tooltip-content {
  position: absolute;
  z-index: 9999;
  width: 100px;
  left: 400%;
  bottom: 100%;
  font-size: 17px;
  line-height: 1.4;
  text-align: center;
  font-weight: 400;
  color: #fcfcfc;
  background: transparent;
  opacity: 0;
  margin: 0 0 20px -150px;
  cursor: default;
  pointer-events: none;
  font-family: 'Merienda One', serif;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s;
}

.tooltip:hover .tooltip-content {
  opacity: 1;
  pointer-events: auto;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.tooltip-content span {
  display: block;
}

.tooltip-text {
  border-bottom: 10px solid #bda488;
  overflow: hidden;
  -webkit-transform: scale3d(0,1,1);
  transform: scale3d(0,1,1);
  -webkit-transition: -webkit-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}

.tooltip:hover .tooltip-text {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

.tooltip-inner {
  background: rgba(157,129,97,0.95);
  padding: 12px;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.tooltip:hover .tooltip-inner {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

/* Arrow */

.tooltip-content::after {
  content: '';
  bottom: -20px;
  left: 50%;
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: transparent;
  border-top-color: #bda488;
  border-width: 10px;
  margin-left: -10px;
}

.dark {
  background: #bda488;
  border: 10px solid #fcfcfc; }
  .dark a:hover {
    border-bottom: 1px solid #fcfcfc; }
  .dark ::selection {
    background: #fcfcfc;
    color: #bda488; }
  .dark .col-12 {
    color: #fcfcfc; }
  .dark [class*="icon-"] {
    background-repeat: no-repeat !important;
    background-size: 100% !important; }
  .dark .socials li {
    color: #fcfcfc; }
  .dark #hero .name { 
  color: #fcfcfc; }
  .dark #hero .role {
  color: #fcfcfc; }
  .dark .tooltip-content::after {
    border-top-color: #fffaf0; }
  .dark .tooltip-text {
  border-bottom: 10px solid #fffaf0; }

@media screen and (max-width: 999px) {
  * {
    text-align: center !important; }
    #hero .role {
      margin-left: 10px;
      margin-right: 10px;
    }
  #hero, .socials {}
  body {
    border: none !important; }
  .row {
    width: 100%; }

  .col-12 {
    width: 100%; }
  }

@media screen and (max-width: 768px) {
  #hero .name {
    font-size: 27px; } }
